chroma-hnswlib
chromadb
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
sqlite3==3.45
streamlit
streamlit-chat
watchdog
