aiohttp
aiosignal
altair
annotated-types
anyio
arrow-cpp
asgiref
asttokens
attrs
aws-c-auth
aws-c-cal
aws-c-common
aws-c-compression
aws-c-event-stream
aws-c-http
aws-c-io
aws-c-mqtt
aws-c-s3
aws-c-sdkutils
aws-checksums
aws-crt-cpp
aws-sdk-cpp
backoff
bcrypt
beautifulsoup4
blas
blinker
boost-cpp
bottleneck
brotli-python
bs4
build
bzip2
c-ares
ca-certificates
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
cryptography
dataclasses-json
decorator
deprecated
distro
dplython
durationpy
executing
expat
faiss-cpu
fastapi
feather-format
filelock
flatbuffers
freetype
frozenlist
fsspec
gflags
gitdb
gitpython
glog
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
icu
idna
importlib-metadata
importlib-resources
ipython
ipython-pygments-lexers
jedi
jinja2
jiter
jpeg
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
krb5
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-llama
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lcms2
lerc
libabseil
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libcxx
libdeflate
libedit
libev
libevent
libffi
libgfortran
libgfortran5
libgrpc
libiconv
libmpdec
libnghttp2
libopenblas
libpng
libprotobuf
libssh2
libthrift
libtiff
libwebp-base
llvm-openmp
lz4-c
markdown-it-py
markupsafe
marshmallow
matplotlib-inline
mdurl
mmh3
monotonic
mpmath
msgpack
multidict
mypy-extensions
ncurses
numexpr
numpy
oauthlib
ollama
onnxruntime
openai
openjpeg
openssl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orc
orjson
overrides
packaging
pandas
parso
pdfminer-six
pdfplumber
pexpect
pillow
pip
posthog
prompt-toolkit
propcache
protobuf
psycopg2-binary
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pygments
pypdf
pypdf2
pypdfium2
pypika
pyproject-hooks
pysocks
python
python-dateutil
python-dotenv
python-tzdata
python_abi
pytz
pyyaml
re2
readline
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
setuptools
shellingham
six
smmap
snappy
sniffio
soupsieve
sqlalchemy
sqlite
stack-data
starlette
streamlit
streamlit-chat
sympy
tenacity
tiktoken
tk
tokenizers
toml
toolz
tornado
tqdm
traitlets
typer
typing-inspect
typing_extensions
tzdata
urllib3
utf8proc
uvicorn
uvloop
watchdog
watchfiles
wcwidth
websocket-client
websockets
wheel
wrapt
xz
yarl
zipp
zlib
zstandard
zstd